target
.classpath
.project
.settings
*~
bin/
#when run from within eclipse, cucumber tests create report folders in the project dir instead of it's target/ directory
cucumber-report*
git.properties
# Netbeans project files
nb-configuration.xml
