target
.classpath
.project
.settings
*~
bin/
#when run from within eclipse, cucumber tests create report folders in the project dir instead of it's target/ directory
cucumber-report*
git.properties
git.geogig.properties
# Netbeans project files
nb-configuration.xml
.DS_store
# IntelliJ module files
*.iml
hs_err_pid*
#KDE
.directory
#Fortify
build/fortify/geogig-*
